body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #f7f7f7;
  color: #333;
}
body.dark {
  background-color: #252525;
  color: #eaeaea;
}

.app-container {
  padding: 0px 325px;
}

.search-wrapper {
  margin: 40px auto;
  margin-bottom: 0;
  text-align: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.note-form {
  position: relative;
  flex: 1;
  display: flex;
  border: 1px solid white;
  border-radius: 5px;
  height: 38px;
}

.note-text-input::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #999;
  font-weight: 500;
}
.note-text-input {
  flex: 1;
  padding: 10px 12px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  border: 1px solid #6c63ff;
  border-radius: 5px;
  outline: none;
  background-color: #f7f7f7;
  color: #333;
}
body.dark .note-text-input {
  background-color: #252525;
  color: #eaeaea;
  border-color: #555;
}
body.dark .note-text-input::placeholder {
  color: #777;
}

.search-button {
  position: absolute;
  right: 8.5px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #6c63ff;
  cursor: pointer;
  font-size: 21px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
body.dark .search-button {
  color: white;
}

.filter-button {
  background-color: #6c63ff;
  color: #f7f7f7;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  width: 115px;
  height: 38px;
  padding: 0 7px;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 600;
  font-family: "Kanit", sans-serif;
  cursor: pointer;
}

.filter-button:hover {
  background-color: #534cc2;
  border: 1px solid #6c63ff;
  transition: box-shadow 0.1s ease-out;
  box-shadow: 0 0px 4px #6c63ff;
}

.filter-button.open {
  background-color: #534cc2;
  border: 1px solid #6c63ff;
  box-shadow: 0 0px 4px #6c63ff;
}

.darkmode-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6c63ff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: #f7f7f7;
  height: 38px;
  width: 38px;
}

.darkmode-toggle:hover {
  background-color: #5850dd;
  box-shadow: 0 0px 4px #6c63ff;
  transition: box-shadow 0.1s ease;
}

.filter-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-icon {
  margin-left: 8px;
  display: inline-flex;
  align-items: center;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: 0px;
  padding: 0;
  list-style: none;
  border: 1px solid #6c63ff;
  border-radius: 4px;
  background: #f7f7f7;
  color: #534cc2;
  text-align: left;
  z-index: 1000;
}

.dropdown-item {
  padding: 4px 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  font-family: "Kanit", sans-serif;
}
.dropdown-item:hover {
  background: #dbd9f9;
}

/* TODO LIST STYLES */
.todo-wrapper {
  min-height: 100vh;
  position: relative;
  background: #f7f7f7;
  margin: auto;
  text-align: center;
  padding: 15px 115px;
}
body.dark .todo-wrapper {
  background-color: #252525;
}

.notes-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.note-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(108, 99, 255, 0.5);
  padding: 17px 0;
  cursor: pointer;
}

.note-label {
  display: flex;
  align-items: center;
  gap: 17px;
}

.note-checkbox-hidden {
  display: none;
}

.custom-checkbox {
  width: 26px;
  height: 26px;
  border: 1px solid #6c63ff;
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.custom-checkbox.checked {
  background-color: #6c63ff;
}

.note-text {
  font-size: 20px;
  font-weight: 600;
  color: #252525;
  letter-spacing: 0;
  text-transform: uppercase;
  font-family: "Kanit", sans-serif;
}

body.dark .note-text {
  color: #f7f7f7;
}

.note-complete {
  text-decoration: line-through;
  color: #999;
}

body.dark .note-complete {
  color: #777;
}

.no-notes {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
}

.no-notes-image.dark-mode {
  display: none;
}
.no-notes-image.light-mode {
  display: block;
}

@media (prefers-color-scheme: dark) {
  .no-notes-image.light-mode {
    display: none;
  }
  .no-notes-image.dark-mode {
    display: block;
  }
}

.note-actions {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}
.note-item:hover .note-actions {
  opacity: 1;
  pointer-events: auto;
}

.note-actions button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
  color: #d2d2d2;
}
body.dark .note-actions button {
  color: #cdcdcd;
}
.note-actions .edit-btn:hover {
  color: #7b61ff;
}
body.dark .note-actions .edit-btn:hover {
  color: #a088ff;
}
.note-actions .delete-btn:hover {
  color: red;
}
body.dark .note-actions .delete-btn:hover {
  color: #ff5f5f;
}

.add-button {
  position: fixed;
  right: 325px;
  bottom: max(5%, 48px);
  width: 48px;
  height: 48px;
  font-size: 28px;
  border-radius: 50%;
  background-color: #6c63ff;
  color: #f7f7f7;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.add-button:hover {
  background-color: #534cc2;
  box-shadow: 0 0px 4px #6c63ff;
  transition: box-shadow 0.1s ease;
  border: 2px solid #6c63ff;
}

body.dark .add-button {
  background-color: #6c63ff;
}

body.dark .add-button:hover {
  background-color: #534cc2;
  box-shadow: 0 0px 4px #6c63ff;
  transition: box-shadow 0.1s ease;
  border: 2px solid #6c63ff;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal {
  background: #f7f7f7;
  padding: 24px;
  border-radius: 12px;
  width: 500px;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.2);
}

body.dark .modal {
  background-color: #252525;
  color: #f7f7f7;
  border: 1px solid #f7f7f7;
}

.modal-title {
  margin-top: 0;
  font-size: 24px;
  font-family: "Kanit", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 148px;
  gap: 10px;
}

.modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  width: 110px;
  height: 38px;
  line-height: 38px;
  font-size: 18px;
  font-family: "Kanit", sans-serif;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
}

.cancel-btn {
  background: #f7f7f7;
  border: 1px solid #6c63ff;
  color: #7b61ff;
}

body.dark .cancel-btn {
  background: #252525;
}

.add-btn {
  background: #7b61ff;
  color: #f7f7f7;
}

body.dark .add-btn {
  background: #5e4be1;
}

.inline-undo-button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 14px;
  width: 100%;
  text-transform: uppercase;
  background-color: #6c63ff;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: lighter;
  font-size: 14px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  animation: fadeIn 0.3s ease-in;
}

.undo-slot {
  padding: 2px 0px;
}

.progress-circle {
  position: relative;
  width: 24px;
  height: 24px;
  border: 2px solid white;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.countdown-text {
  position: absolute;
  font-size: 16px;
  color: white;
  font-weight: 700;
  z-index: 1;
}

@keyframes spinDown {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
